* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Changed background color to white */
}

.modal {
    width: 50%; /* Set the width of the modal */
    background-color: #fff; /* Changed background color to white */
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
}

.hidden {
    display: none;
}